<mat-toolbar color="primary">
  <a routerLink="/home">MEAN social</a>
  <div class="spacer"></div>
  <ul>
    <li>
      <a mat-button routerLink="/posts" routerlinkActive="mat-accent">
        Posts
      </a>
    </li>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/create" routerlinkActive="mat-accent">
        New Post
      </a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/login" routerlinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/signup" routerlinkActive="mat-accent">
        Signup
      </a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
